.App {
  font-family: sans-serif;
}

.form-container{
  padding: 2rem;
  background-color:forestgreen;
  margin: 4rem auto;
  max-width: 500px;
  border-radius: 5px;
}

.form-header {
  text-align: center;
}

.form-header a {
  text-decoration: none;
  color: rgb(25, 156, 165);
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: rgb(25, 156, 165);
  color: white;
  border: 1px solid rgb(25, 156, 165);
  background-color: 250ms;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(25, 156, 165);
}
