* {box-sizing: border-box;}

body{
  background-color: beige;
  }

.App {
  font-family: sans-serif;
}

.login-container{
  padding: 1rem;
  background-color:forestgreen;
  margin: 4rem auto;
  max-width: 500px;
  border-radius: 5px;
}

.form-header {
  text-align: center;
}

.form-header a {
  text-decoration: none;
  color: rgb(25, 156, 165);
}

.login-form {
  width: 100%;
  margin: 0 auto;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-btn {
  padding: 10px 15px;
  background-color: rgb(25, 156, 165);
  color: white;
  border: 1px solid rgb(25, 156, 165);
  border-radius: 5px;
}

.login-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(25, 156, 165);
}

/* Register form */
.register-container{
  padding: 1rem;
  max-width: 500px;
  margin: 4rem auto;
  background-color:grey;
  text-align: center;
  border-radius: 5px;
}

.register-form {
    width: 100%;
    margin: 0 auto;
}
.register-row:after{
    content: "";
    display: table;
    clear: both;  
}

.register input{
    font-size: large;
    width: 100%;
    padding: 12px 20px;
    margin:8px 0;
    display:inline-block;
    border: 3px solid #cccccc;
    border-radius: 4px;
    align-items: center;
}

.register-btn{
    width: 20%;
    background-color:green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h1{
    text-align: center;
    padding: 15px;
}

h2{
    color: white;
    
}

header{
    background-color:green;
}

/* Landing page */
*
{margin: 0;
padding: 0;
   
	
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(asset/img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.Welcome-msg{
    position: relative;
    text-align: center;
    font-family: monospace;
    color:lightgreen;
    top: 150px;
}
.h1{
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 2px;
    list-style: height 0;
    margin: 0;
    color: crimson;
}
.h2{
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 2px;
    list-style: height 0;
    margin: 0;
    color:crimson;
}
.btn{
    font-size: 18px;
    color: rgb(29, 43, 231);
    margin: 5px;
    padding: 7px 22px;
    text-decoration: none;
    border: 1px solid chartreuse;
    border-radius: 25px;

}
.btn-more{
    background:rgb(4, 224, 103);
}
.btn-more:hover{
    background: wheat;
    transition: 0.5sec;
}

p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    color:white; 
}
/* navbar */
.navbar{

  display: flex;
justify-content: space-around;
align-items: center;
  min-height: 4vh;
  background-color: green;
  overflow: hidden;

 
}
.logo{
  opacity: 1;
}
img{
  border-radius: 50%;
  float: left;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
  white-space: pre-line;

}
.nav-links li{
  font-size: 15px;
  color: rgb(29, 43, 231);
  margin: 1px;
  padding: 7px 22px;
  text-decoration: none;
  border: 1px solid chartreuse;
  border-radius: 25px;
  list-style: none;

}
.nav-links a{
color: white;
text-decoration: none;
letter-spacing:2px;
font-size: 14px;
padding: 1px;
font-family: sans-serif;
  font-weight: bold;
}
h3{
  float: right;
  color: ivory;
  margin-right: 2px;
  padding: 4px 5px;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 10px;
}